<!--The content below is only a placeholder and can be replaced.-->
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Meetup <strong>Not</strong> To-Do's
      </h1>
      <h2 class="subtitle">
        Avoid at all cost.
      </h2>
    </div>
  </div>
</section>

<section class="container">

  <div class="field">
    <h2 class="is-size-2">Don't Do These:</h2>
    <ul class="menu-list">
      <li *ngFor="let item of notTodos">{{item}}</li>
    </ul>
  </div>

  <div class="field">
    <label class="label">Don't Do This</label>
    <div class="control">
      <input class="input" type="text" placeholder="Thing you should not do at your next meetup." [(ngModel)]='notTodo'>
    </div>
  </div>
  
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" (click)="addNotTodo()">Remember</button>
    </div>
    <div class="control">
      <button class="button" (click)="cancelNotTodo()">Cancel</button>
    </div>
  </div>
</section>

